body{

    box-sizing: border-box;
    background-color: #e4bad4;
}


h1{
    text-align: center;
    color: #99154e;
    font-size: 60px;
}

#sec-one{
float: left;
width: 50%;

}

#sec-two{
    float: right;
    width: 50%;
    
    }

    img{

        display: inline-block;
        /* width: 40%; */
        height: 150px;
        /* margin: 40px; */
        border-style: double; color:black ;
    }



    ul{
width: 80%;
background-color: #99154e;

    }

    li{
font-size: 30px;
font-weight: bold;
list-style: none;
color: #f5abc9;

    }

    button{
color:#f5abc9 ;
background-color:#99154e;
font-size: x-large;
    }
